[Unit]
Description=UNIT3D Server Alerts Check
After=network.target

[Service]
Type=oneshot
ExecStart=/var/www/html/scripts/server_alerts_tracker.sh
User=root
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
