/* Canvas para el fantasma WebGL */
canvas#ghost {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    pointer-events: none;
    background: transparent;
}
